<div>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Velkomstmail ændret</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>
      Du har ændret teksten i velkomstbeskeden og du har ændret i hvilket hold medlemmet skal gå på.
    </p>
    <p>
      Vil du beholde den tekst du har skrevet eller vil du benytte standard teksten for det valgte hold?
    </p>
  </div>
  <div class="modal-footer">
    <button class="o-button o-button--primary" type="button" ng-click="vm.keep()">Behold den nuværende tekst</button>
    <button class="o-button o-button--primary" type="button" ng-click="vm.change()">Skift til standard teksten</button>
  </div>
</div>
