.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-side {
  border-right: none;
}

.outlet-container {
  padding: 1.5rem 2rem;
}
