<div class="card">
  <div class="card-header"
       data-toggle="collapse"
       href="#subscriptionReminderListBody"
       aria-expanded="false"
       aria-controls="subscriptionReminderListBody">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="card-title ml-1 mb-0">Kontingent rykkere</h6>
      </div>
      <div class="col-auto"
           *ngIf="subscriptions">
        <span class="badge badge-pill"
              [ngClass]="{ 'badge-danger': subscriptions.length > 0, 'badge-primary': subscriptions.length === 0 }">
          {{ subscriptions.length }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-body p-0"
       id="subscriptionReminderListBody"
       class="collapse">
    <div *ngIf="subscriptions">
      <div class="p-4">
        <p *ngIf="subscriptions.length <= 0"
           class="text-muted m-0 mb-1">
          <small>Pyha, det er ikke nødvendigt at sende rykkere ud i dag</small>
        </p>
        <div *ngIf="subscriptions.length > 0">
          <p class="text-muted mx-1 mb-3">
            <small>Følgende medlemmer skal rykkes for kontingent-indbetaling</small>
          </p>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Rykker</th>
                <th>Medlem</th>
                <th>Opkrævet</th>
                <th class="text-right">Udestående</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subscription of subscriptions">
                <td>
                  <span class="badge badge-pill badge-secondary">
                    {{ subscription.reminder }}
                  </span>
                </td>
                <td>{{ subscription.title }}</td>
                <td>{{ subscription.latestInvoiceDate }}</td>
                <td class="text-right">kr. {{ subscription.balance }}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary mt-3"
                  (click)="sendReminders()">{{ sendRemindersButtonText }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
