<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    <img src="/assets/svg/worldwide.svg" /><br/>
    Forside
  </a>
  <a [routerLink]="['/members']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    <img src="/assets/svg/group.svg" /><br/>
    Medlemmer
  </a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    <img src="/assets/svg/panel.svg" /><br/>
    Info
  </a>
</nav>
