/* You can add global styles to this file, and also import other style files */

// Bootstrap variables overrides

// Colors from https://dribbble.com/shots/974693-Easy-Note
$app-dark-grey: #58585c;
$app-blue: #249cd5;
$app-light: #ecedf0;
$app-cyan: #4abcce;
$app-dark: #1c2836;
$app-orange: #e26f50;
$app-light-brown: #8f847f;
$app-grey: #b7beb6;

// Bootstrap variables
$body-bg: $app-light;
$body-color: $app-dark;

$blue: $app-blue;
$green: #4ace6b;

$border-radius: 0;
$enable-rounded: false;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom App Styling - Should contain very little as components define their own css
#googleLogin > div {
  width: 100% !important;
}

[data-toggle=collapse] {
  cursor: pointer;
}

/* * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * */

.form-control:hover,
.form-control:focus,
.custom-select:hover,
.custom-select:focus {
  box-shadow: 0px 1px 0px rgba(0,0,0,.25);
}

.bg-dark {

  .form-control:hover,
  .form-control:focus,
  .custom-select:hover,
  .custom-select:focus {
    box-shadow: 0px 1px 0px rgba(255,255,255,.25);
  }

}

.form-control-edit-inline {
  border: none;
  padding: 3px 0;
  border-radius: 0;
  line-height: 1.3;
  border-bottom: 1px solid #efefef;
}

.bg-dark {
  .form-control-edit-inline {
    border-bottom: 1px solid lighten($dark, 10%);
  }
}

.card-header.bg-dark {
  .form-control-edit-inline {
    border-bottom: none;
  }
}

select.form-control-edit-inline {
  display: block;
  width: 100%;
  background: none;
  position: relative;
  top: -1.3 * $custom-select-padding-y;
  margin-bottom: -1 * $custom-select-padding-y;
}

@-moz-document url-prefix() {
  select.form-control-edit-inline {
    left: -4px;
  }
}

.form-control-edit-inline-h4 {
  font-size: $h4-font-size;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * *
Datepicker
* * * * * * * * * * * * * * * * * * * * * * * * */

.ngx-datepicker-calendar-container {
  z-index: 1000;
}

/* * * * * * * * * * * * * * * * * * * * * * * *
Cards
* * * * * * * * * * * * * * * * * * * * * * * * */

.card-header {
  background: white;
}

.dropdown-toggle--card-header {
  //border: 1px solid $gray-300;
  border: none;
  background: transparent;
  color: $gray-600;
}

.dropdown-toggle--card-header-dark {
  // border: 1px solid $gray-700;
  background: transparent;
  border: none;
}
