/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}

.floating-action-button {
  background: none;
  border: none;
  width: 56px;
  height: 56px;
  background: #F50057;
  border-radius: 28px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 30px;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.floating-action-button:hover {
  background: #681138;
}

.split-view {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.split-view-main {
  min-width: 400px;
  max-width: 800px;
  background: #F6FAFA;
  padding: 20px;
}

.split-view-secondary {
  flex-grow: 1;
  padding: 20px;
}