/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

a {
  color: #3F51B5;
}

.breadcrumbs-wrapper {
  background: #F3F3F3;
  padding: 18px 0;
}

.breadcrumbs-title {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin: 0 18px;
  opacity: 0.7;
}

.breadcrumbs {
  padding: 0;
  margin: 5px 18px;
  list-style: none;
  font-size: 0.9rem;
  opacity: 0.7;
}

.breadcrumbs>li {
  display: inline-block;
}

.breadcrumbs>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

md-card {
  margin: 15px auto;
  max-width: 800px;
}

form {
  max-width: none !important;
}

.mat-input-container {
  display: block !important;
}

.textarea-input-container {
  margin-top: 2rem;
}
