<div class="breadcrumbs-wrapper">
  <ol class="breadcrumbs">
    <li><a routerLink="/admin/members" routerLinkActive="active">Medlemmer</a></li>
    <li *ngIf="originalMember">{{originalMember.name}}</li>
  </ol>
</div>

<div class="container">
  <form *ngIf="member">
    <md-card>
      <div class="row">
        <div class="col-12">
          <md-input-container>
            <input mdInput #nameInput placeholder="Navn" [(ngModel)]="member.name" name="name">
          </md-input-container>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <md-input-container>
            <input mdInput #genderInput placeholder="Køn" [(ngModel)]="member.gender" name="gender">
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-9">
          <md-input-container>
            <input mdInput #birthDateInput placeholder="Fødselsdato" [(ngModel)]="member.birthDate" name="birthDate">
          </md-input-container>
        </div>
      </div>
    </md-card>
    <md-card>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <md-input-container>
            <input mdInput #ageClassInput placeholder="Klasse" [(ngModel)]="member.ageClass" name="ageClass">
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-9">
          <md-input-container>
            <input mdInput #teamInput placeholder="Hold" [(ngModel)]="member.team" name="team">
          </md-input-container>
        </div>
      </div>
    </md-card>
    <div *ngFor="let address of member.addresses; let i = index">
      <md-card>
        <div class="row">
          <div class="col-12">
            <md-input-container>
              <input mdInput #addressLine1Input placeholder="Adresse" [(ngModel)]="address.line1" name="addressLine1-{{i}}">
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <md-input-container>
              <input mdInput #addressPostalCodeInput placeholder="Postnr" [(ngModel)]="address.postalCode" name="addressPostalCode-{{i}}">
            </md-input-container>
          </div>
          <div class="col-9">
            <md-input-container>
              <input mdInput #addressCityInput placeholder="By" [(ngModel)]="address.city" name="addressCity-{{i}}">
            </md-input-container>
          </div>
        </div>
      </md-card>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button md-button color="accent" (click)="addAddress()">Tilføj ekstra adresse</button>
      </div>
    </div>

    <md-card>
      <div *ngFor="let email of member.emails; let i = index">
        <div class="row">
          <div class="col-12">
            <md-input-container>
              <input mdInput placeholder="Email" [(ngModel)]="email.value" name="email-{{i}}">
            </md-input-container>
          </div>
        </div>
      </div>
    </md-card>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button md-button color="accent" (click)="addEmail()">Tilføj ekstra email</button>
      </div>
    </div>

    <md-card>
      <div *ngFor="let phone of member.phones; let i = index">
        <div class="row">
          <div class="col-12">
            <md-input-container>
              <input mdInput placeholder="Telefon" [(ngModel)]="phone.value" name="phone-{{i}}">
            </md-input-container>
          </div>
        </div>
      </div>
    </md-card>
    <div class="row justify-content-center">
      <div class="col-auto">
        <button md-button color="accent" (click)="addPhone()">Tilføj ekstra telefon</button>
      </div>
    </div>

    <button md-raised-button color="accent" type="submit" (click)="save()">Gem</button>
  </form>
</div>