.c-card-list {
    display: flex;
    flex-wrap: wrap;

    .c-card {
        margin: 0 15px 15px 0;
    }
}

.c-card {
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 10px;
    background: white;
}

.c-card--narrow {
}

.c-card__title {
    margin-bottom: 10px;   
}

.c-card__item {
    margin: 5px 0;

    &:last-child {
        margin: 0;
    }
}