.c-formular-input {
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  color: #616976;
  width: 100%;
  background: white;
  text-align: left;
  font-family: inherit;
  border: none;
  margin: 0;
}
.c-formular-input--select {
  padding: 11px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.c-formular-input--large,
.c-formular-input--large.c-formular-input--select {
  font-size: 20px;
  padding: 20px;
}
