.c-formular-input {
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    color: #616976;
    width: 100%;
   background: white;
} 
.c-formular-input--large {
    font-size: 20px;
    padding: 20px;
}
.c-formular-input--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}