@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,500';
body {
  font-family: 'Work Sans', sans-serif;
  margin: 15px 0;
  background: #f1f5f6;
  letter-spacing: 0.5px;
  color: #616976;
  padding: 0 15px;
  @media (min-width: $screen-sm-min) {
    max-width: 950px;
    margin: 50px auto;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px 0;
}

h1 {
  line-height: 55px;
}

h3 {
  letter-spacing: 2px;
}

h4 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 60px;
  text-align: center;
}

h5 {
  font-weight: 500;
  color: #337ab7;
  margin: 15px 0 3px 0;
}

.hide {
  display: none;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.box-center {
  margin: 0 auto;
}

.right {
  text-align: right;
}

.standout {
  margin-top: 50px;
}

.cozy {
  padding: 2px;
}

.cozier {
  padding: 5px;
}

.spacy {
  padding: 10px;
}

.spacy-horizontal {
  padding: 0 20px;
}

.spacy-m {
  margin: 10px;
}

.spacy--more {
  margin-top: 30px;
  margin-bottom: 30px;
}

.spacy-m2 {
  margin: 20px;
}

.spacy-m3 {
  margin: 30px;
}

.spacy-m3-v {
  margin: 30px 0;
}

.larger-text {
  font-size: 140%;
}

.smaller-text {
  font-size: 80%;
}

.full-width {
  width: 100%;
}

.dimmed {
  opacity: 0.7;
}

.no-break {
  white-space: nowrap;
}

[ng-click],
[ui-sref],
[ng-csv] {
  cursor: pointer;
}

input {
  outline: none;
}

input[disabled] {
  opacity: 0.3;
}

th {
  color: $red;
}

ul {
  margin: 0;
  padding: 0 0 0 16px;
}

.red {
  color: $red;
}

.flex {
  display: flex;
}

.flex--center-vertically {
  align-items: center;
}

.flex--center-horizontally {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.toast-info {
  background-color: #337ab7;
}

input[type=checkbox].form-control-checkbox {
  margin: 11px 0 0 0;
}

.stats-table {
  background: white;
  border: 1px solid #dedede;
  border-radius: 3px;
}

.stats-table td, 
.stats-table th {
  padding: 15px;
  border: 1px dotted #dedede;
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

.stats-table td:first-child,
.stats-table th:first-child {
  width: auto;
  text-align: left;
}

.chart-container {
  background: white;
  padding: 25px;
  border: 1px solid #dedede;
}

#toast-container.registration-toast > div {
  opacity: 1;
  width: 100%;
  border-radius: 0;
  background-position: 14px 23px;
}

.event-register__form {
  position: relative;
  left: 0px;
  height: 100%;
  overflow: hidden;
  transition: opacity .4s, height .4s;
}

.event-register__form.hide {
  opacity: 0;
  height: 0;
}

.event-register__receipt {
  position: absolute;
  top: -1000px;
  left: 0px;
  opacity: 0;
  transition: top .2s, opacity 1s;
}

.event-register__receipt.show {
  position: relative;
  top: 0px;
  opacity: 1;
}
