.svg-icon-discipline {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
}

.svg-icon-discipline-40,
.svg-icon-discipline-60,
.svg-icon-discipline-80,
.svg-icon-discipline-100,
.svg-icon-discipline-200,
.svg-icon-discipline-400,
.svg-icon-discipline-600,
.svg-icon-discipline-800,
.svg-icon-discipline-1000,
.svg-icon-discipline-1500,
.svg-icon-discipline-3000,
.svg-icon-discipline-5000,
.svg-icon-discipline-4x40,
.svg-icon-discipline-4x60,
.svg-icon-discipline-4x80,
.svg-icon-discipline-4x100,
.svg-icon-discipline-4x400 {
    background-image: url('/assets/icons/disciplines/sprinting.svg');
}

.svg-icon-discipline-40H,
.svg-icon-discipline-60H,
.svg-icon-discipline-80H,
.svg-icon-discipline-100H,
.svg-icon-discipline-110H,
.svg-icon-discipline-400H, {
    background-image: url('/assets/icons/disciplines/hurdle-race.svg');
}

.svg-icon-discipline-LÆ,
.svg-icon-discipline-TR {
    background-image: url('/assets/icons/disciplines/long-jumping.svg');
}

.svg-icon-discipline-HØ {
    background-image: url('/assets/icons/disciplines/high-jump.svg');
}

.svg-icon-discipline-KU {
    background-image: url('/assets/icons/disciplines/shot-put-throwing.svg');
}

.svg-icon-discipline-SP {
    background-image: url('/assets/icons/disciplines/throwing-javelin.svg');
}

.svg-icon-discipline-DI {
    background-image: url('/assets/icons/disciplines/bowling-throw.svg');
}

.svg-icon-discipline-HA,
.svg-icon-discipline-VÆ {
    background-image: url('/assets/icons/disciplines/hammer-throw.svg');
}

.svg-icon-discipline-ST {
    background-image: url('/assets/icons/disciplines/pole-vault.svg');
}