.o-detail-list {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
}

.o-detail-list__item {
    background: white;
    box-shadow: 0 0 3px #c3c3c3;
    margin: 0 0 10px 0;
    padding: 0;
}
.o-detail-list__item-content {
    padding: 15px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;

    @media only screen and (max-device-width: 480px)
    {
        display: block;
    }
}

.o-detail-list__left {
    flex-grow: 1;
    padding-right: 30px;
}

.o-detail-list__right {
    display: flex;
    align-items: center;

    @media only screen and (max-device-width: 480px)
    {
        display: block;
    }
}

$line-height: 30px;

.o-detail-list__title {
    color: #444;
    font-size: 1.4em;
    line-height: $line-height;
    font-weight: 400;

    @media only screen and (max-device-width: 480px)
    {
        margin: 15px 0;
    }
}

.o-details-list__meta-item {
    color: #afafaf;
    line-height: $line-height;
    padding-right: 10px;

    @media only screen and (max-device-width: 480px)
    {
        display: block;
    }
}

.o-details-list__meta-item-warn {
    color: #a94442;
    font-weight: 400;
}

.o-detail-list__item-footer {
    border-top: 1px solid #E4E4E4;
    background: rgba(0, 0, 0, 0.015);
    padding: 3px;
}

.o-detail-list__item-footer-more {
    width: 30px; 
    height: 30px; 
    margin: auto; 
    background: white; 
    border: 1px solid #E4E4E4; 
    border-radius: 15px; 
    text-align: center;
    margin-top: -18px;
    padding-top: 4px;
}

.o-detail-list__item-footer-content {
    padding: 3px 17px 15px 17px;
}

.o-detail-list__label-container {
    opacity: .4;
    text-align: right;
    margin-right: -10px;
}

.o-details-list-card {
    padding: 30px;
}

.o-details-list-card__header {
    display: flex;
    margin-bottom: 30px;
    margin-left: 98px;
}

.o-details-list-card__title {
    font-size: 20px;
}

.o-details-list-card__subtitle {
    opacity: .7;
}

.o-details-list-card__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFCF82;
    text-align: center;
    padding-top: 3px;
    font-size: 31px;
    text-indent: 2px;
    font-weight: 300;
    margin: 0 15px 0 0;
}

.o-details-list-card__body > div {
    display: flex;
    margin: 3px 0;
}

.o-details-list-card__body label {
    min-width: 150px;
    text-align: right;
    font-weight: normal;
    opacity: .4;
    margin-right: 15px;
}

// Mobile detail list card
@media only screen and (max-width : 768px) {
    .o-details-list-card__header {
        margin-left: 0;
    }

    .o-details-list-card__body {
        margin-left: 66px;
    }

    .o-details-list-card__body > div {
        display: block;
        margin: 10px 0;
    }

    .o-details-list-card__body label {
        min-width: none;
        text-align: left;
        margin-right: 0;
    }
}

