.o-editable-field {
    width: 100%;
    background: none;
    border: none;
    text-align: center;
    padding: 5px;
}

.o-editable-field--xl {
    font-size: 35px;
    font-weight: 300;
    margin: 15px 0;
    letter-spacing: 5px;
}