<h2>Medlem</h2>

<div *ngIf="member">
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="nameInput">Navn</label>
      <input type="text" class="form-control" id="nameInput" [(ngModel)]="member.name" name="name">
    </div>

    <div class="form-group">
      <label for="addressInput">Adresse</label>
      <input type="text" class="form-control" id="addressInput" [(ngModel)]="member.address" name="address">
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label for="postalCodeInput">Postnummer</label>
          <input type="text" class="form-control" id="postalCodeInput" [(ngModel)]="member.postalCode" name="postalCode">
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="form-group">
          <label for="cityInput">By</label>
          <input type="text" class="form-control" id="cityInput" [(ngModel)]="member.city" name="city">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" [(ngModel)]="member.email" name="email">
    </div>
    <div class="form-group">
      <label for="phoneInput">Telefon</label>
      <input type="tel" class="form-control" id="phoneInput" [(ngModel)]="member.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="genderInput">Køn</label>
      <select class="form-control" id="genderInput" [(ngModel)]="member.gender" name="gender">
        <option value="F">Pige</option>
        <option value="M">Dreng</option>
      </select>
    </div>
    <div class="form-group">
      <label for="birhtDateInput">Fødselsdato</label>
      <input type="date" class="form-control" id="birthDateInput" [(ngModel)]="member.birthDate" name="birthDate">
    </div>
    <div class="form-group">
      <label for="teamInput">Hold</label>
      <select class="form-control" id="teamInput" [(ngModel)]="member.team" name="team">
        <option value="mini">Minierne</option>
        <option value="middle">Mellem</option>
        <option value="elder">De store</option>
      </select>
    </div>
    
<!--
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox"> Check me out
    </label>
    </div>-->
    <button type="submit" class="btn btn-default">Gem</button>
  </form>
</div>