<form *ngIf="member">
  <md-card>
    <div class="row">
      <div class="col-12">
        <md-input-container>
          <input mdInput #nameInput placeholder="Navn" [(ngModel)]="member.name" name="name">
        </md-input-container>
      </div>
    </div>
  </md-card>
  <md-card>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <md-select placeholder="Køn" [(ngModel)]="member.gender" (ngModelChange)="updateAgeClass()" name="gender">
          <md-option value="female">Pige</md-option>
          <md-option value="male">Dreng</md-option>
        </md-select>
      </div>
      <div class="col-xs-12 col-sm-3">
        <md2-datepicker type="date" [(ngModel)]="member.birthDate" (ngModelChange)="updateAgeClass()" placeholder="Fødselsdato" format="DD-MM-YYYY" name="birthDate" min="1940-01-01">
        </md2-datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <md-input-container>
          <input mdInput #ageClassInput readonly placeholder="Klasse" [(ngModel)]="member.ageClass" name="ageClass">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-9">
        <md-select placeholder="Hold" [(ngModel)]="member.team" name="team">
          <md-option value="minies">Minierne</md-option>
          <md-option value="middles">Mellem</md-option>
          <md-option value="elders">De store</md-option>
        </md-select>
      </div>
    </div>
  </md-card>
  <div *ngFor="let address of member.addresses; let i = index">
    <md-card>
      <div class="row">
        <div class="col-12">
          <md-input-container>
            <input mdInput #addressLine1Input placeholder="Adresse" [(ngModel)]="address.line1" name="addressLine1-{{i}}">
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <md-input-container>
            <input mdInput #addressPostalCodeInput placeholder="Postnr" [(ngModel)]="address.postalCode" name="addressPostalCode-{{i}}">
          </md-input-container>
        </div>
        <div class="col-9">
          <md-input-container>
            <input mdInput #addressCityInput placeholder="By" [(ngModel)]="address.city" name="addressCity-{{i}}">
          </md-input-container>
        </div>
      </div>
    </md-card>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button md-button color="accent" (click)="addAddress()">Tilføj ekstra adresse</button>
    </div>
  </div>

  <md-card>
    <div *ngFor="let email of member.emails; let i = index">
      <div class="row">
        <div class="col-12">
          <md-input-container>
            <input mdInput placeholder="Email" [(ngModel)]="email.value" name="email-{{i}}">
          </md-input-container>
        </div>
      </div>
    </div>
  </md-card>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button md-button color="accent" (click)="addEmail()">Tilføj ekstra email</button>
    </div>
  </div>

  <md-card>
    <div *ngFor="let phone of member.phones; let i = index">
      <div class="row">
        <div class="col-12">
          <md-input-container>
            <input mdInput placeholder="Telefon" [(ngModel)]="phone.value" name="phone-{{i}}">
          </md-input-container>
        </div>
      </div>
    </div>
  </md-card>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button md-button color="accent" (click)="addPhone()">Tilføj ekstra telefon</button>
    </div>
  </div>
</form>