:host {
  background-color: #fff;
  color: #B5B5B5;
  display: block;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.02);
  z-index: 1;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

h1 {
  display: inline;
  font-size: 18px;
  font-weight: 300;
  color: #676767;
}