<topbar></topbar>

<div ng-show="isAuthenticated || vm.events.length > 0">
  <h1 class="center">Stævner</h1>

  <div class="center" ng-show="isAuthenticated">
    <button class="o-button o-button--primary" ng-click="vm.addEvent();">Tilføj stævne</button>
  </div>

  <ul class="o-detail-list">
    <li class="o-detail-list__item" ng-class="{ 'o-detail-list__item--with-info' : event.info }" ng-repeat="event in vm.events">
      <event-list-item event="event"></event-list-item>
    </li>
  </ul>

  <div class="center standout" ng-show="vm.oldEvents && isAuthenticated">
    <a ng-show="!showOldEvents" ng-click="showOldEvents = true">Vis mig tidligere stævner</a>
  </div>

  <ul class="o-detail-list" ng-show="showOldEvents">
    <li class="o-detail-list__item" ng-class="{ 'o-detail-list__item--with-info' : event.info }" ng-repeat="event in vm.oldEvents" 
        style="opacity: 0.5;">
      <event-list-item event="event"></event-list-item>
    </li>
  </ul>
  

</div>

<div ng-show="!isAuthenticated && vm.events.length === 0">
  <h3 class="center">Der er pt. ikke nogle stævner du kan tilmelde dig</h3>
</div>