<div class="center">
    <h1>{{vm.event.title}}</h1>

    <div class="center">
        <div class="c-date-badge">
            <div class="c-date-badge__header">
                {{ vm.event.date | formatdate: 'MMM' }}
            </div>
            <div class="c-date-badge__body">
                {{ vm.event.date | formatdate: 'D' }}<span ng-show="vm.event.endDate">-{{ vm.event.endDate | formatdate: 'D' }}</span>
            </div>
        </div>
    </div>

    <p class="larger-text">{{vm.event.address}}</p>
    <iframe ng-show="vm.event.address" width="100%" height="150" frameborder="0" style="border:0" src="{{vm.trustedMapUrl}}" allowfullscreen></iframe>

    <h3 ng-show="vm.event.link" class="spacy">
        <a ng-href="{{ vm.event.link }}" target="_blank">Se stævneinfo her</a>
    </h3>

</div>

<div ng-if="!vm.registrationComplete">
    <h2 class="center standout">Hvem vil du gerne tilmelde?</h2>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <input type="text" ng-model="vm.registration.name" ng-change="vm.validate(vm.registration)" class="c-formular-input c-formular-input--large" autofocus />
        </div>
    </div>

    <h4 class="center standout">Pige eller dreng?</h4>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <select ng-model="vm.registration.gender" ng-change="vm.validate(vm.registration)" class="c-formular-input c-formular-input--large c-formular-input--select">
                <option value="female">Pige</option>
                <option value="male">Dreng</option>
            </select>
        </div>
    </div>

    <h4 class="center standout">...og hvad er {{ vm.registration.gender === 'female' ? "hendes" : vm.registration.gender === 'male' ? "hans" : "hans/hendes"  }} fødselsår?</h4>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <select ng-model="vm.registration.birthYear" ng-change="vm.validate(vm.registration)" class="c-formular-input c-formular-input--large c-formular-input--select">
                <option ng-repeat="year in vm.birthYears" value="{{year}}">{{year}}</option>
            </select>
        </div>
    </div>

    <h4 class="center standout">Til sidst har vi brug for din email-adresse?</h4>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <input type="text" ng-model="vm.registration.email" ng-change="vm.validate(vm.registration)" class="c-formular-input c-formular-input--large" />
        </div>
    </div>

    <h2 class="center standout">Hvilke discipliner vil du stille op i?</h2>
    <p class="center">Vælg op til tre og angiv din personlige rekord, hvis du kender den.</p>
    <div class="row" ng-repeat="discipline in vm.event.disciplines">
        <div class="col-sm-3 col-sm-offset-3 col-xs-6">
            <button class="o-button o-button--default o-button--flow-list full-width" ng-class="discipline.selected ? 'o-button--success' : 'o-button--default'"
                ng-click="discipline.selected = !discipline.selected; vm.validate(vm.registration);">
                {{ discipline.name }}
            </button>
        </div>
        <div class="col-sm-3 col-xs-6">
            <input type="text" ng-model="discipline.personalRecord" class="c-formular-input" placeholder="Personlig rekord" ng-disabled="!discipline.selected"
            />
        </div>
    </div>

    <div class="standout c-recaptcha">
        <div vc-recaptcha ng-model="vm.registration.recaptcha" on-success="vm.validateDelayed()" on-expire="vm.registration.recaptcha = null; vm.validateDelayed()" key="'6Ldb1ykTAAAAAHJ3QFSnyGtky1WaCZu4ESJ1xx4H'" ></div>
    </div>

    <div class="row standout">
        <div class="col-sm-6 col-sm-offset-3">
            <div uib-alert ng-repeat="alert in vm.alerts" class="c-alert" ng-class="'alert-' + (alert.type || 'warning')" close="vm.alerts = []">{{alert.msg}}</div>
            <button class="o-button o-button--primary o-button--large" ng-disabled="!vm.registrationIsValid || vm.registering" ng-click="vm.register(vm.registration)">{{ vm.registering ? "sender tilmelding..." : "Tilmeld" }}</button>
        </div>
    </div>
</div>

<div ng-if="vm.registrationComplete">
    <div class="center standout">
        <h2>Så er du tilmeldt. Gør dit bedste.</h2>
        <div class="c-receipt">
            <div class="c-receipt__contents">
                <div class="c-receipt__label">Navn</div>
                <div class="c-receipt__value">
                    {{ vm.registration.name }}
                </div>
                <div class="c-receipt__label">Discipliner</div>
                <div class="c-receipt__value">
                    <div ng-repeat="discipline in vm.registration.disciplines">
                        {{ discipline.name }}{{ discipline.personalRecord ? ' (' + discipline.personalRecord + ')' : '' }}
                    </div>
                </div>
            <div>
        </div>
    </div>
</div>