<topbar></topbar>

<div ng-show="isAuthenticated || vm.events.length > 0">
  <h1 class="center">Stævner</h1>

  <div class="center" ng-show="isAuthenticated">
    <button class="o-button o-button--primary" ng-click="vm.addEvent();">Tilføj stævne</button>
  </div>

  <ul class="o-detail-list">
    <li class="o-detail-list__item" ng-class="{ 'o-detail-list__item--with-info' : event.info }" ng-repeat="event in vm.events">
      <div class="o-detail-list__item-content">
        <div class="o-detail-list__left">
          <div>
            <span class="o-details-list__meta-item">{{ event.date | formatdate }}</span>
            <span class="o-details-list__meta-item">{{ event.address }}</span>
          </div>
          <a class="o-detail-list__title" ui-sref="events_edit({ id: event._id })">{{ event.title }}</a>
          <div>
            <span class="o-details-list__meta-item" ng-class="{ 'o-details-list__meta-item-warn' : vm.isImminent(event.registrationPeriodEndDate) }">
            Sidste tilmelding: {{ event.registrationPeriodEndDate | formatdate }}
          </span>
          </div>
        </div>
        <div class="o-detail-list__right">
          <a ui-sref="events_register({ id: event._id })" class="o-button o-button--default">Tilmeld</a>
          <a ui-sref="events_edit({ id: event._id })" class="o-button o-button--default" ng-show="isAuthenticated">Ret stævne</a>
          <button ng-click="vm.handleEventDeleteClicked(event)" title="Slet stævne" class="o-button o-button--default" ng-show="isAuthenticated">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </div>
      <div class="o-detail-list__item-footer" ng-show="event.info">
        <div class="o-detail-list__item-footer-more" ng-click="more = !more">
          <i ng-show="!more" class="fa fa-angle-down" aria-hidden="true"></i>  
          <i ng-show="more" class="fa fa-angle-up" aria-hidden="true"></i>  
        </div>
        <div class="o-detail-list__item-footer-content" ng-show="more">
          <p>{{event.info}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<div ng-show="!isAuthenticated && vm.events.length === 0">
  <h3 class="center">Der er pt. ikke nogle stævner du kan tilmelde dig</h3>
</div>