<div class="c-white-box">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2 col-xs-12">
      <div class="o-center" style="height: 150px;">
        <i class="fa fa-3x fa-map-marker spacy red"></i>
        <textarea ng-if="$ctrl.editable"  ng-model="$ctrl.address" ng-change="$ctrl.onChange({address: $ctrl.address})" 
          class="c-formular-input c-formular-input--large left"
          style="border: none; white-space: nowrap; resize: none; box-sizing: content-box" autogrow />
        <pre ng-if="!$ctrl.editable" class="c-formular-input c-formular-input--large left">{{$ctrl.address}}</pre>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12" style="height: 150px;">
      <iframe ng-if="$ctrl.trustedMapUrl" width="100%" height="150" frameborder="0" style="border:0" ng-src="{{$ctrl.trustedMapUrl}}"
        allowfullscreen></iframe>
    </div>
  </div>
</div>