<topbar></topbar>

<h1 class="center">Tilføj medlem</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form name="vm.form" class="form-horizontal" ng-submit="vm.addMember(vm.member)">
      <div class="form-group">
        <label for="input_name" class="col-sm-3 control-label">Navn</label>
        <div class="col-sm-9">
          <input type="text" ng-model="vm.member.name" class="form-control" id="input_name" ng-focus="vm.errorMessage = ''">
        </div>
      </div>
      <div class="form-group">
        <label for="input_gender" class="col-sm-3 control-label">Køn</label>
        <div class="col-sm-3">
          <select ng-model="vm.selectedGender" class="form-control" id="input_gender" ng-focus="vm.errorMessage = ''">
            <option ng-repeat="item in vm.selectableGenders" value="{{item.id}}">{{item.label}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="input_team" class="col-sm-3 control-label">Hold</label>
        <div class="col-sm-9">
          <select ng-model="vm.selectedTeam" class="form-control" id="input_team" ng-focus="vm.errorMessage = ''">
            <option ng-repeat="item in vm.selectableTeams" value="{{item.id}}">{{item.label}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="input_email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input type="text" ng-model="vm.member.email" class="form-control" id="input_email" ng-focus="vm.errorMessage = ''">
        </div>
      </div>
      <div class="form-group">
        <label for="input_email2" class="col-sm-3 control-label">Email 2</label>
        <div class="col-sm-9">
          <input type="text" ng-model="vm.member.email2" class="form-control" id="input_email2" ng-focus="vm.errorMessage = ''">
        </div>
      </div>
      <div class="form-group">
        <label for="input_family_membership_number" class="col-sm-3 control-label">Familie medl.nr.</label>
        <div class="col-sm-3">
          <input type="text" ng-model="vm.member.familyMembershipNumber" class="form-control" id="input_family_membership_number" ng-focus="vm.errorMessage = ''">
        </div>
        <div class="col-sm-6">
          <family-membership-number-finder></family-membership-number-finder>
        </div>
      </div>
      <div class="form-group">
        <label for="input_birth_date" class="col-sm-3 control-label">Fødselsdato</label>
        <div class="col-sm-3">
          <input type="text" ng-model="vm.member.birthDate" placeholder="åååå-mm-dd" ng-pattern="'\\d{4}-\\d{2}-\\d{2}'" class="form-control"
            id="input_birth_date" name="inputBirthDate" ng-focus="vm.errorMessage = ''">
        </div>
      </div>
      <div class="form-group">
        <label for="input_start_date" class="col-sm-3 control-label">Indmeldelsesdato</label>
        <div class="col-sm-3">
          <input type="text" ng-model="vm.member.startDate" placeholder="åååå-mm-dd" ng-pattern="'\\d{4}-\\d{2}-\\d{2}'" class="form-control"
            id="input_start_date" name="inputStartDate" ng-focus="vm.errorMessage = ''">
        </div>
      </div>
      <div class="form-group">
        <label for="input_has_outstanding_membership_payment" class="col-sm-3 control-label">Udest. kont.</label>
        <div class="col-sm-3">
          <input type="checkbox" ng-model="vm.member.hasOutstandingMembershipPayment" class="form-control-checkbox" id="input_has_outstanding_membership_payment"
            ng-focus="vm.errorMessage = ''">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <p ng-show="vm.errorMessage" class="bg-danger spacy">
            {{vm.errorMessage}}
          </p>
          <button type="submit" class="btn btn-primary">Opret medlem</button>
        </div>
      </div>
    </form>
  </div>
</div>