<topbar></topbar>
<div ng-show="isAuthenticated && vm.members">
  <h1 class="center">Medlemmer ({{ vm.members.length }})</h1>
  <div class="center">
    <button class="o-button o-button--primary" ui-sref="members_add">Tilføj medlem</button>
  </div>
  <!-- filters -->
  <h4>Filtrér medlemmer</h4>
  <div>
    <input type="text" ng-model="search" class="c-formular-input center" />
  </div>
  <div class="center spacy">
    <input type="checkbox" ng-model="vm.hasOutstandingMembershipPaymentFilter" ng-click="vm.filterMembers()" />
    <span>Vis medlemmer m. udest. kont.</span>
  </div>
  <!-- member list -->
  <div class="o-detail-list">
    <div class="row">
      <div class="col-sm-12" ng-repeat="member in vm.members | filter:search" ui-sref="members_edit({ id: member.id })">
        <div class="o-detail-list__item">
          <member-list-item member="member"></member-list-item>
        </div>
      </div>
    </div>
  </div>
  <!-- family member list -->
  <h4>Familie-medlemskaber</h4>
  <div class="o-detail-list">
    <div class="row">
      <div class="col-sm-12" ng-repeat="family in vm.familyMemberships | filter:search" ui-sref="members_edit({ id: family.id })">
        <div class="o-detail-list__item">
          <member-list-item member="family"></member-list-item>
        </div>
      </div>
    </div>
  </div>
</div>