<topbar></topbar>
<div ng-show="isAuthenticated && vm.members">
  <!-- header -->
  <h1 class="center">Medlemmer ({{ vm.members.length }})</h1>
  <!-- actions -->
  <div class="center">
    <div class="btn-group dropdown" uib-dropdown="" style="">
      <button id="split-button" type="button" class="btn btn-primary" ui-sref="members_add">Tilføj medlem</button>
      <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="split-button">
        <li role="menuitem">
          <a ng-csv="vm.getCsvMembers()" csv-header="vm.getCsvHeaders()" field-separator=";" lazy-load="true" filename="medlemmer.csv">
            <i class="fa fa-download" aria-hidden="true"></i> Hent viste medlemmer som csv
          </a>
        </li>
        <li role="menuitem">
          <a ng-click="vm.copyMemberEmailList()">
            <i class="fa fa-clipboard" aria-hidden="true"></i> Kopier viste medlemmers emails til udklipsholderen
            <input type="text" id="copyContent" style="position: absolute; left: -10000px;" />
          </a>
        </li>
        <li role="menuitem">
          <a ng-click="vm.chargeMemberships()">
            <i class="fa fa-money" aria-hidden="true"></i>
            Opkræv kontingent fra alle medlemmer
          </a>
        </li>
        <li role="menuitem">
          <a ui-sref="members_stats">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            Vis statistik
          </a>
        </li>
        <li role="menuitem">
          <a ui-sref="members_terminated">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Vis udmeldte medlemmer
            </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- filters -->
  <h4>Filtrér medlemmer</h4>
  <div>
    <input type="text" ng-model="vm.search" ng-change="vm.searchChanged()" class="c-formular-input center" />
  </div>
  <div class="center spacy">
    <a ng-click="showFilters = !showFilters">{{ !showFilters ? 'Vis flere filtre...' : 'Skjul filtre' }}</a>
  </div>

  <div class="center spacy c-card" ng-show="showFilters">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group left">
          <label class="control-label">Køn</label>
          <select ng-model="vm.filters.genderFilter" ng-change="vm.filterMembers()" class="form-control">
            <option value="all">Alle</option>
            <option value="female">Piger</option>
            <option value="male">Drenge</option>
            <option value="null">Ikke angivet</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group left">
          <label class="control-label">Hold</label>
          <select ng-model="vm.filters.team" ng-change="vm.filterMembers()" class="form-control">
            <option value="all">Alle hold</option>
            <option value="1">Miniholdet</option>
            <option value="2">Mellemholdet</option>
            <option value="3">Storeholdet</option>
            <option value="null">Ikke angivet</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group left">
          <label class="control-label">Fødselsdato</label>
          <div class="row">
            <div class="col-xs-6">
              <input type="text" ng-model="vm.filters.birthDate" ng-disabled="vm.filters.birthDateNull" ng-change="vm.filterMembers()"
                class="form-control" />
            </div>
            <div class="col-xs-1">
              <input type="checkbox" ng-model="vm.filters.birthDateNull" ng-change="vm.filterMembers()" />
            </div>
            <div class="col-x-5 left">
              Ikke angivet
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group left">
          <label class="control-label">Kontingent</label>
          <select ng-model="vm.filters.memberhipPayment" ng-change="vm.filterMembers()" class="form-control">
            <option value="all">Alle</option>
            <option value="1">Medlemmer med udestående kontingent</option>
            <option value="2">Medlemmer som har betalt</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group left">
          <label class="control-label left">Indmeldelsesdato</label>
          <div class="row">
            <div class="col-xs-6">
              <input type="text" ng-model="vm.filters.startDate" ng-disabled="vm.filters.startDateNull" ng-change="vm.filterMembers()"
                class="form-control" />
            </div>
            <div class="col-xs-1">
              <input type="checkbox" ng-model="vm.filters.startDateNull" ng-change="vm.filterMembers()" />
            </div>
            <div class="col-x-5 left">
              Ikke angivet
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 right">
        <a ng-click="vm.filters = {}; vm.filterMembers()">nulstil filtre</a>
      </div>
    </div>
  </div>
  <!-- member list -->
  <div class="o-detail-list">
    <div class="row">
      <div class="col-sm-12" ng-repeat="member in vm.members" ui-sref="members_edit({ id: member.id })">
        <div class="o-detail-list__item">
          <member-list-item member="member"></member-list-item>
        </div>
      </div>
    </div>
  </div>
</div>